Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -bugprone-narrowing-conversions,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.*,
  misc-redundant-expression,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  readability-simplify-boolean-expr,

WarningsAsErrors: ''

HeaderFilterRegex: '(src|include)/.*\.h$'
