Source: muslimtify
Section: utils
Priority: optional
Maintainer: Rizki Rakasiwi <rizkirr.xyz@gmail.com>
Build-Depends: debhelper-compat (= 13), cmake, pkg-config,
 libnotify-dev, libcurl4-openssl-dev
Standards-Version: 4.6.2
Homepage: https://github.com/rizukirr/muslimtify
Rules-Requires-Root: no

Package: muslimtify
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A lightweight islamic prayer time notification daemon for Linux
